astroid==3.2.2
autopep8==2.2.0
black==24.4.2
click==8.1.7
dill==0.3.8
flake8==7.0.0
isort==5.13.2
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
pycodestyle==2.11.1
pyflakes==3.2.0
Pygments==2.18.0
pylint==3.2.3
rich==13.7.1
ruff==0.4.9
tomlkit==0.12.5
